@import "/src/styles/app.scss";

.paragraph {
  padding: 5px;
  margin: 10px;
  background-color: $colorBlueSky;
  transition: all 500ms;
  font-family: 'Noto Light', sans-serif;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: $colorBlueLight;
    transition: all 500ms;
  }
}
