@import '/src/styles/app.scss';

.paragraph {
  padding: 5px;
  margin: 10px;
  background-color: $colorBlueSky;
  transition: all 500ms;

  &:hover {
    cursor: pointer;
    background-color: $colorBlueLight;
    transition: all 500ms;
  }
}

.audio {
  width: 300px;
  height: 200px;
}

textarea {
  resize: none;
}
