@import "/src/styles/app.scss";

.wrap {
  @include flexCenter;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  fill: $colorPrimary;
  cursor: pointer;
  border: 8px solid $colorPrimary;
  border-radius: 50%;
}

.active {
  filter: drop-shadow(0px 0px 23px rgba(0, 56, 255, 0.6));
}

.disabled {
  border-color: $colorTextBasaltGray;
  cursor: auto;

  .micro {
    fill: $colorTextBasaltGray;
    filter: invert(62%) sepia(11%) saturate(11%) hue-rotate(18deg)
      brightness(96%) contrast(91%) opacity(0.8);
  }
}
