@import "/src/styles/app.scss";

.switch {
  display: flex;
  width: 398px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid $colorPrimary;
  margin: 16px 20px 32px;
  user-select: none;
}

.item {
  @include flexCenter;

  height: 32px;
  padding: 8px 9px 8px 7px;
  flex: 1 0 0;
  color: $colorTextBasaltGray;
  border-radius: 12px;
}

.active {
    background: $colorPrimary;
    color: $colorTextWhite;
}

.switch :not(.active, .item span) {
    cursor: pointer;
}