// White
$colorWhite: #fff;
$colorWhiteSmoke: #efefef;

// Blue
$colorBlueWhite: #f5ffff;
$colorBlueLight: #bbf2f6;
$colorBlueSky: #07b4c5;


// Colors
$colorPrimary: #4584FF;
$colorAqua: #3D73E0;
$colorSolitude: #EDF3FF;
$colorPlatinum: #E2E2E2;
$colorHardCoal: #626262;
