// White
$colorWhite: #fff;
$colorWhiteSmoke: #efefef;

// Blue
$colorBlueWhite: #f5ffff;
$colorBlueLight: #bbf2f6;
$colorBlueSky: #07b4c5;


// main colors
$colorPrimary: #4584FF;
$colorAqua: #3D73E0;
$colorSolitude: #EDF3FF;
$colorPlatinum: #E2E2E2;
$colorHardCoal: #626262;

// background colors
$colorBackgroundSmoke: #F5F5F5;
$colorBackgroundSnow: #F9F9F9;

// text colors
$colorTextWhite: #FCFCFC;
$colorTextBlack: #2D2F30;
$colorTextBasaltGray: #999999;
