@import "/src/styles/app.scss";

.control {
  @include flexCenter;

  gap: 12px;
  background-color: $colorBackgroundSnow;
}

.send {
  cursor: pointer;
  transition: all 250ms;

  &:hover {
    opacity: 0.7;
    transition: all 250ms;
  }
}