@import "/src/styles/app.scss";

.bubble {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 12px;
  border: 1px solid $colorPrimary;
  width: max-content;
  word-break: break-word;
  white-space: pre-wrap;
  cursor: pointer;
}

.content {
    text-align: justify;
  color: $colorPrimary;
  text-align: right;
  font-family: "Noto Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
